@{
    ViewBag.Title = "Bilgi";
    Console.WriteLine("*** [View] Bilgi/Index ***");
}

<h1>Bunları Biliyor muydunuz?</h1>

<ul>
    <li>Muz, aslında bir meyve değil, bir çiçektir. 🍌</li>
    <li>Dünyadaki karasinek popülasyonu, insan sayısından daha fazladır. 🦟</li>
    <li>Bir çocuğun göz rengi doğduğunda belirlenmez, zamanla olgunlaşır. 👶</li>
    <li>Yüksek sesle gülümsemek bile ruh halini olumlu etkileyebilir. 😊</li>
    <li>Tardigrad adlı mikroskopik canlılar, uzay boşluğunda hayatta kalabilirler. 🪐</li>
    <li>Ormanlardaki mantarlar, ağaç kökleriyle iletişim kurabilir. 🍄</li>
    <li>Balinaların kalbi o kadar büyüktür ki, bir insanın içine rahatça sığabilir. 🐋</li>
    <li>Karıncalar uyumaz, fakat dinlenmek için saatlerce hareketsiz kalabilirler. 🐜</li>
    <li>Bir çilek aslında yüzlerce minik tohumun bir araya gelmesiyle oluşur. 🍓</li>
    <li>İnsan vücudu, yılda bir milyon hücreyi yeniler ve değiştirir. 💪</li>
</ul>